{
  "extends": "airbnb",
  "plugins": ["import"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.dev.js"
      }
    }
  },
  "rules": {
    "react/prefer-stateless-function": "off"
  }
}
